           <h3> Student Details</h3>
            <form>
                <label>First Name: </label><br />
                <input type="text" name="fname" [(ngModel)]="fname"  [disabled]="editDisabled"/><br />
                <label>Middle Name: </label><br />
                <input type="text" name="mname" [(ngModel)]="mname" [disabled]="editDisabled"/><br />
                <label>Last Name: </label><br />
                <input type="text" name="lname" [(ngModel)]="lname" [disabled]="editDisabled"/><br />
                <label>Age: </label><br />
                <input type="text" name="age" [(ngModel)]="age" [disabled]="editDisabled"/><br />
                <label>Gender: </label><br />
                <input type="text" name="gender" [(ngModel)]="gender" [disabled]="editDisabled"/><br />
                <label>Class: </label><br />
                <input type="text" name="class" [(ngModel)]="class" [disabled]="editDisabled"/><br />
                <label>Section: </label><br />
                <input type="text" name="section" [(ngModel)]="section" [disabled]="editDisabled"/><br />
                <label>Student Mobile: </label><br />
                <input type="text" name="student_mobile" [(ngModel)]="student_mobile" [disabled]="editDisabled"/><br />
                <label>Father's Name: </label><br />
                <input type="text" name="father_name" [(ngModel)]="father_name" [disabled]="editDisabled" /><br />
                <label>Father's Contact Number: </label><br />
                <input type="text" name="father_mobile" [(ngModel)]="father_mobile" [disabled]="editDisabled" /><br />
                <label>Mother's Name: </label><br />
                <input type="text" name="mother_name" [(ngModel)]="mother_name" [disabled]="editDisabled"/><br />
                <label>Mother's Contact Number: </label><br />
                <input type="text" name="mother_mobile" [(ngModel)]="mother_mobile" [disabled]="editDisabled" /><br />
                <label>Previous School: </label><br />
                <input type="text" name="previous_school" [(ngModel)]="previous_school" [disabled]="editDisabled"/><br />
               
            </form>
            <br />


            <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle"  (click)="editStudent()" [hidden]="isedited">Edit</button>
            <button type="button" class="btn btn-success dropdown-toggle"  (click)="saveStudent()" [hidden]="!isedited"> Submit</button>
            </div>
            

       
